/* EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS AAAAAGHHH */

.center {
  text-align: center;
}

select {
  max-width: 20em;
  margin-bottom: 0;
}

#contagem {
	font-weight: bold;
}

.cuc {
  font-size: 80%;
}

.procurado {
  line-height: 1.0;
}
