/* EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS EU ODEIO CSS AAAAAGHHH */

body {
	text-align: center;
	font-family: sans-serif;
    max-width: 36em;
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

sup {
	font-size: 50%;
}

select {
    max-width: 20em;
}

textarea {
    width: 40%;
}
